Django>=1.7,<1.8
django-modelcluster>=0.4
django-taggit==0.12.2
django-treebeard==2.0
six>=1.7.0
-e git://github.com/torchbox/wagtail.git#egg=wagtail
Pillow==2.7.0
South==1.0.2
Unidecode==0.04.17
beautifulsoup4==4.3.2
django-appconf==0.6
django-compressor==1.4
django-libsass==0.2
html5lib==0.999
libsass==0.6.2
psycopg2==2.5.4
requests==2.5.1
unicodecsv==0.9.4
-e git://github.com/torchbox/wagtail.git@db942132ccc32bde7753013373b85a75cd1996be#egg=wagtail-master
wsgiref==0.1.2
